<!-- <div class="message">
  <div class="kaiwa">
    <figure class="kaiwa-img-right">
      <%= attachment_image_tag current_user,  :profile_image, :fill, 100, 100, format: 'jpeg' ,fallback: "noimage.jpg" ,size: "100*100" %>
      <figcaption class="kaiwa-img-description">
        <%= message.user.name %>
      </figcaption>
    </figure>
    <div class="kaiwa-text-right">
      <%= simple_format(message.content) %>
    </div>
  </div>
</div>
 -->