<div class="big-big4">
  	<div class="big-box">
    	<div class="my-info-box">
			<h2 class="new-room">EWSとは</h2>
			<h4 class="about1">Empathy With Someoneの略で「誰かと共感する」</h4>
			<h4 class="about2">あなたが思ったことを世界中の人と共有してみませんか？</h4>
		</div>
	</div>
</div>
