<meta http-equiv="refresh" content="5; url=top" />
<div class="big-big5">
  <div class="big-box">
    <div class="my-info-box ">
		<h5 class="about0">５秒後に自動で移動します</h5>
		<div>
			<h3 class="about1">ご利用ありがとうございました</h3>
			<h3 class="about2">またのご利用お待ちしております</h3>
		</div>
	</div>
</div>
