/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
/* bootstrapを無効化 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

h1, h2, h3, h4, h5, h6, p, div{
  margin: 0;
  padding: 0;
}

/* end */

/* プロフィール画像 */
.user-image {
    border-radius: 50%;
    width:  100px;
    height: 100px;
}
/* footer固定 */
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 8rem;
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  margin-top: auto;
}

/* 上部に戻るボタン */
#pageTop {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

#pageTop i {
  padding-top: 6px
}

.modoru {
  color: #ffd19a;
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 50px 0 8px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* ヘッダー */

.title-name{
  /* フォントサイズなどを任意で指定する */
  font: bold 4em / 1 Verdana, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  /* 背景グラデーションを指定・幅を 200% にしておく */
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  /* 背景画像を文字でマスクする */
          background-clip: text;
  -webkit-background-clip: text;
  /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
          text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /* アニメーション指定 */
  animation: example 4s linear infinite;
}

/* 背景の横位置をズラす */
@keyframes example {
  to { background-position-x: 200%; }
}


.header-bar{
  width: 100%;
  text-align: center;
  display:block;
  background:#006064;
  color: (45deg, #96f7d2, #f0f696, #fcb1b1);
  background-size: 600% 600%;
}

.header-items{
  margin: 10px 0 10px 30px;
  font-size: 14px;
}

.cp_link {
  position: relative;
  padding: 0.1em 0.3em;
  display: inline-block;
  transition: .3s;
  color: #FFA000;
}
.cp_link::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 1px;
  background-color: #FFA000;
  transition: .3s;
  transform: translateX(-50%);
}
.cp_link:hover::after {
  width: 100%;
}

.header-itembox{
  padding-left: 20px;
  text-align: left;
  height: auto;
}

html,body {
  height: 100%;
}

.name{
  font-size: 20px;
}

/* 未登録時のヘッダー */
.log-sign{
  text-align:center;
  margin-top: 40px;
}


/* ログインSNSアイコン */
.btn-social-long-facebook {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #4966a0;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-facebook .fa-facebook {
  text-shadow: 2px 2px 1px #224282;
  font-size: 30px;
}

.btn-social-long-facebook span {
  /*テキスト*/
  display:inline-block;
  transition: .5s;
}

.btn-social-long-facebook:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.btn-social-long-google {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #eb5f5d;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-google .fa-google {
  text-shadow: 2px 2px 1px #224282;
  font-size: 30px;
}

.btn-social-long-google span {
  /*テキスト*/
  display:inline-block;
  transition: .5s;
}

.btn-social-long-google:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.btn-social-long-line {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #93ca76;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-line .fa-line {
  text-shadow: 2px 2px 1px #224282;
  font-size: 30px;
}

.btn-social-long-line span {
  /*テキスト*/
  display:inline-block;
  transition: .5s;
}

.btn-social-long-line:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.log-icon{
  color: #F2F2F2;
}

.log-logo{
  color: #F2F2F2;
  margin-left: 10px;
}

.log-icon-box{
  margin-top: 50px;
  margin-bottom: 300px;
  text-align: center;
}

.kakunin{
  margin: 30px 0;
}

.info-end{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

/*ログイン背景*/
.big-big1{
  width: 100%;
  height: auto;
  background: linear-gradient(to top, rgba(151, 217, 225, 0.7) 0%, rgba(217, 175, 217, 0.7) 100%),url("/images/guogete-iWnprMqbusU-unsplash.jpg");  /* 背景画像指定 */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size:  cover;
}

.big-big2{
  width: 100%;
  height: auto;
  background: linear-gradient(to top, rgba(151, 217, 225, 0.7) 0%, rgba(217, 175, 217, 0.7) 100%),url("/images/oluwakemi-solaja-ZN52ZBFkw4Y-unsplash.jpg");  /* 背景画像指定 */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size:  cover;
}

.big-big3{
  width: 100%;
  height: 1000px;
  background: linear-gradient(to top, rgba(43, 192, 228, 0.7) 0%, rgba(234, 236, 198, 0.7) 100%),url("/images/miguel-bruna-DugxtqWvNuI-unsplash.jpg");  /* 背景画像指定 */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size:  cover;
}

.big-big4{
  width: 100%;
  height: 1000px;
  background: linear-gradient(to top, rgba(69, 182, 73, 0.7) 0%, rgba(220, 227, 91, 0.7) 100%),url("/images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");  /* 背景画像指定 */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size:  cover;
}

.big-big5{
  width: 100%;
  height: 1000px;
  background: linear-gradient(to top, rgba(69, 182, 73, 0.7) 0%, rgba(220, 227, 91, 0.7) 100%),url("/images/robin-worrall-FPt10LXK0cg-unsplash.jpg");  /* 背景画像指定 */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size:  cover;
}

.ribbon {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 30%;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  font-size: 25px;/*フォントサイズ*/
  color: #00a79d;/*フォントカラー*/
  background: #a4d7e1;/*背景色*/
}

.ribbon:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}

.ribbon:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-left: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}

.info-subject{
  text-align: left;
  margin-left: 5%;
}

/*折り返し部分*/
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}




.contents {
  min-height: 100vh;
  margin: auto;
  padding: 1em 0 10em 0;
  background: rgb(236, 240, 241);
}
footer #button {
  position: relative;
  width: 10em;
  height: 2em;
  margin: 0 auto;
  padding: 0.2em;
  cursor: pointer;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  text-align: center;
  color: #00acc1;
  border-radius: 3px 3px 0px 0px;
  background: #006064;
}
footer #button:hover {
  position: relative;
  width: 10em;
  height: 2em;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 1.5em;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
footer:hover {
  height: 10em;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
footer #container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #006064;
}
footer #cont {
  margin: 0 auto;
  padding: 1em;
  color: #00acc1;
}
footer .copyright {
  float: left;
  width: 50%;
}
footer .copyright p {
  font-size: 0.7em;
  line-height: 2em;
  padding-left: 10%;
  letter-spacing: 1px;
  color: #ffffff;
}
footer .sns {
  float: right;
  width: 50%;
}
footer .sns a {
  font-weight: bold;
  line-height: 2em;
  width: 2em;
  margin: auto 0.1em;
  float: right;
  -webkit-transition: all, 0.3s;
          transition: all, 0.3s;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #00acc1;
}
footer .sns a:hover {
  -webkit-transition: all, 0.3s;
          transition: all, 0.3s;
  background-color: #222222;
}
footer .sns .insta {
  background-color: #e4405f;
}
footer .sns .fb {
  background-color: #3b5999;
}
footer .sns .tw {
  background-color: #55acee;
}


.foot{
  margin-bottom: 100px;
}

.loading-now{
  animation: flowing 2s linear infinite;
  transform: translateX(100%);
}

@keyframes flowing {
  100% {
    transform: translateX(-100%);
  }
}



/* ページネーション*/
.pagination {
  justify-content: center;
  margin-bottom: 60px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
