// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-info-box{
	margin: 20px;
}

.my-info-text{
	margin:10px;
}

.my-info-botton{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.my-info{
	text-align: left;
	margin: 10px 0 50px 80px;
}