// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* チャット */
.chat_box{
  width: 100%;
  height: 550px;
  padding: 10px;
  margin: 0 auto;
  max-width: 500px;
  overflow: scroll;
  border: blue 1px solid;
  background-color: #DFEFED;
}
/*——————–
 吹き出しを作る
——————–*/
/* 全体のスタイル */
.kaiwa {
  margin-bottom: 35px;
}
/* 画像 */
.kaiwa-img-left {
  margin: 0;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: -70px;
}
.kaiwa-img-right {
  margin: 0;
  float: right;
  width: 60px;
  height: 60px;
  margin-left: -70px;
}
.kaiwa figure img {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0;
}
/* 画像の下のテキスト */
.kaiwa-img-description {
  padding: 10px 0 0;
  font-size: 10px;
  text-align: center;
  position: relative;
  bottom: 15px;
}
/* 吹き出しテキスト */
.kaiwa-text-left {
  position: relative;
  margin-left: 80px;
  padding: 10px;
  border-radius: 10px;
  background: #c7f0db;
  margin-right: 12%;
  float: left;
  word-break: break-all;
}
.kaiwa-text-right {
  position: relative;
  margin-right: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9cd6e7;
  margin-left: 12%;
  float: right;
  word-break: break-all;
}
p.kaiwa-text {
  margin: 0 0 20px;
}
p.kaiwa-text:last-child {
  margin-bottom: 0;
}

/* 吹き出しの三角 */
.kaiwa-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  left: -20px;
}
.kaiwa-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #c7f0db;
  top: 15px;
  left: -19px;
}
.kaiwa-text-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  right: -20px;
}
.kaiwa-text-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #9cd6e7;
  top: 15px;
  right: -19px;
}
/* 回り込み解除 */
.kaiwa:after,.kaiwa:before {
  clear: both;
  content: "";
  display: block;
}

/* ルーム一覧 */
.room-box:nth-child(odd){
  color: #a9eec2;/*文字色*/
  border: solid 3px #b0deff;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  margin: 20px;
  background-color: #daf1f9;
}

.room-box:nth-child(even){
  color: #f38181;/*文字色*/
  border: solid 3px #8bbabb;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  margin: 20px;
  background-color: #c7f0db;
}

/* ルーム一覧 */
.box29 {
  text-align: center;
  height: auto;
  width: auto;
  padding-bottom: 30px;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box29 .box-title {
  font-size: 15px;
  width: 100%;
  background: #a4d7e1;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5em;
}

.box-title2{
  color: #FFF;
}

.box-title3{
  text-align: left;
}

.ransack-box{
  margin: 20px 0;
  width: auto;
}

.ransack-btn{
  width: 10%;
  display: inline-block;
}

.seach-bar{
  height: 30px;
  border-radius: 30px;
  display: inline-block;
}

/* ルーム一覧 */
.info-text{
  margin: 10px 0 30px 30px;
  background-color: #f9f6f2;
}

.info-text-edit{
  width: 70%;
  height: 100px;
  margin: 10px 0 30px 30px;
  background-color: #f9f6f2;
}

.info-text-no{
  margin: 10px 0 30px 30px;
}

.category-box{
  margin-left: 20px;
}
.info-name{
  margin-top: 15px;
}

/* 入力フォム系*/
.big-box{
  width: 60%;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  color: #5989cf;
  opacity: 0.8;
  background: #daf1f9;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}

/* ルーム作成 */
.new-room{
  padding: 30px 0 30px ;
}

.info-box{
  text-align: left;
  margin-left: 5%;
}


/* ルーム作成 */
.room-show{
  background-color: #f6edcf;
  height: 100%;
  margin-top: 20px;
}

.message-box{
  text-align: center;
  margin-top: 25px;
}

.message-btn{
  margin-top: 20px;
  width: 60%;
  height: 30px
}

.room-info{
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-right: 15px;
  word-wrap: break-word;
}

.room-info-1{
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-right: 15px;
  word-wrap: break-word;
}

.aaa{
  background-color: #f2f6f5;
  margin-top: 30px;
}

.room-title{
  position: relative;
  background: #c8dad3;
  text-align: center;
  padding: 5px 0;
}

.room-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #c8dad3;
  width: 0;
  height: 0;
}

.room-mozi{
  font-size: 10px;
}




/* 一覧のタブ */
.cp_tab *, .cp_tab *:before, .cp_tab *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cp_tab {
  margin: 1em auto;
}
.cp_tab > input[type='radio'] {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
          appearance: none;
  display: none;
}
.cp_tab .cp_tabpanels {
  position: relative;
  min-height: 150px;/* エリアの高さ */
}
.cp_tab .cp_tabpanel {
  position: absolute;
  width: 100%;
  opacity: 0;
  padding: 0.5em 1em;
  transform: translateY(-10px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
  opacity: 1;
  transform: translateY(0px);
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child {
  background: #80CBC4;
}
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2) {
  background: #90CAF9;
}
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3) {
  background: #F48FB1;
}
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4) {
  background: #8BC34A;
}
.cp_tab > label {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
  font-weight: bold;
}
.cp_tab > input:first-child + label {
  background: #80CBC4;
}
.cp_tab > input:nth-child(3) + label {
  background: #90CAF9;
}
.cp_tab > input:nth-child(5) + label {
  background: #F48FB1;
}
.cp_tab > input:nth-child(7) + label {
  background: #8BC34A;
}
.cp_tab > label:hover {
  color: #0066cc;
}
.cp_tab > input:focus + label {
  color: #ffffff;
}
.cp_tab > input:checked + label {
  margin-bottom: -1px;
}
@media (max-width: 480px) {
  .cp_tab {
    width: 100%;
    font-size: 0.8em;
  }
  .cp_tab label {
    padding: 0.5em;
  }
}


/* 検索結果*/
.search{
  font-size: 16px;
}

.search-box{
  margin-top: 30px;
}

.search_conut{
  margin-left: 20px;
}


.info-text-2{
  height: 130px;
  width: 85%;
  margin-left: 15px;
  margin-top: 10px;
  background-color: #f9f6f2;
}

.info-text-3{
  height: 30px;
  width: 85%;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #f9f6f2;

}


/* 確認画面 */
.btn-confirm-1{
  width:  40%;
  height: 40px;
  margin-bottom: 30px;
  background-color: #ecf4f3;
  color: #42b883;
}

.btn-confirm-1:hover {
  background-color: #42b883;
  color: #ecf4f3;
  letter-spacing: 5px;
}

.btn-confirm-2{
  width:  40%;
  height: 40px;
  margin-bottom: 30px;
  background-color: #ecf4f3;
  color: #3c70a4;
}

.btn-confirm-2:hover {
  background-color: #3c70a4;
  color: #ecf4f3;
  letter-spacing: 5px;
}

.confirm-btns{
  margin-top: 30px;
}
