<div class="big-box">
	<div class="my-info-box ">
		<h3 class="ribbon new-room">登録完了</h3>
		<div class="my-info-box">
			<h4>ユーザ情報編集でユーザ名の登録してください</h4>
			<div class="info-end">
				<h5><%= link_to "ユーザ情報編集", edit_client_path(current_user.id) %></h5>
			</div>
		</div>
	</div>
</div>